@tailwind base;
@tailwind components;
@tailwind utilities;

/* #050739 AZUL MARINHO
#38B6FF AZUL CLARO */

:root {
  --branco: #ffffff;
  --azul-marinho: #050739;
  --azul-claro: #38B6FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --azul-marinho: #050739;
    --branco-gelo: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
}

.font-weight-bold {
  font-weight: 700 !important;
}